/*Animation*/
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    animation-name: bounceIn
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

.zoomIn {
    animation-name: zoomIn
}


/*Fonts
===============================*/
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('../fonts/Merriweather-Regular.woff2') format('woff2'),
    url('../fonts/Merriweather-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
    url('../fonts/Merriweather-Italic.woff2') format('woff2'),
    url('../fonts/Merriweather-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url('../fonts/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'),
    url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/*Global Styles
=========================================*/
body {
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

    line-height: 1.75;
    letter-spacing: 0.06em;

    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/*Section
=========================*/
.section {
    padding: 120px 0;
}

.section--gray {
    background-color: #f8fafa;
}

.section__title {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    margin: 0 auto;
    padding: 10px 0 120px;

    font-family: "Merriweather", serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}


/*Header
========================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 65px;
    z-index: 10;
}

.logo__wrapper {
    width: 114px;
    text-align: center;
    border: 5px solid #170f1c;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;

    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #7d7981;
}

.light-green-word {
    font-size: 21px;
    line-height: 1.3;
    color: #77efe5;
}

.header.fixed {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff0f2;
}

/*Burger*/
.burger {
    display: block;
    margin: 15px 2px 9px 0;
    padding: 9px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s linear;
    outline: none;
}

.burger__item {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    font-size: 0;
    color: transparent;
    background-color: #606061;
}

.burger__item:before,
.burger__item:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #606061;
}

.burger__item:before {
    top: -9px;
}

.burger__item:after {
    top: 9px;
}

.burger:hover .burger__item,
.burger:hover .burger__item:before,
.burger:hover .burger__item:after {
    background-color: #16c4b9;
}

.burger:active .burger__item,
.burger:active .burger__item:before,
.burger:active .burger__item:after {
    opacity: 0.7;
}

.burger--close .burger__item {
    background-color: transparent;
}

.burger--close .burger__item::before {
    transform: rotate(45deg);
    top: 0;
}

.burger--close .burger__item::after {
    transform: rotate(-45deg);
    top: 0;
}

.burger--close.burger:hover .burger__item {
    background-color: transparent;
}

/*Nav*/
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 10px 0;
    background-color: #eff0f2;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.4);
}

.nav.show {
    display: flex;
}

.nav__inner {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #505050;

    transition: color 0.3s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #16c4b9;
}

.nav__link:active {
    color: rgba(22, 196, 185, 0.7);
}


/*Intro
=======================*/
.intro {
    background-color: #eff0f2;
}

.intro__inner {
    position: relative;
    height: 100vh;
    min-height: 450px;
}

.intro__title {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
}

.green-bg {
    background-color: #b2f2ee;
}

.intro__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    padding: 14px 46px;

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    background-color: transparent;
    border: 2px solid #777879;
    transition: 0.3s linear;
    transform: translate3d(-50%, 0, 0);
    outline: none;
}

.intro__button:hover,
.intro__button:focus {
    cursor: pointer;
    border: 2px solid #16c4b9;
}

.intro__button:active {
    color: #16c4b9;
}

/*About Us
=============================*/
.about-us__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.about-us__title {
    padding-top: 20px;
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about-us__text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.about-us .slick-list {
    box-shadow: 2px 6px 24px 5px rgba(20, 20, 21, 0.17);
}

/*About-us Slider*/
.slick-dots {
    display: flex;
    justify-content: center;
    padding: 45px 0 0;
    margin: 0 auto;
}

.slick-dots li {
    font-size: 0;
}

.slick-dots button {
    width: 10px;
    height: 10px;
    margin: 5px;
    padding: 0;

    background: #ffffff;
    border: 1px solid #19bd9a;
    border-radius: 50%;

    font-size: 0;
    color: transparent;
    cursor: pointer;
    outline: none;
}

.slick-active button {
    background-color: #19bd9a;
}

/*Features
===============================*/
.features__item {
    padding: 8px;
    font-size: 0;
}

.features__img {
    width: 100%;
    height: auto;
}


/*Our Services
============================*/
.service__item {
    position: relative;
    padding: 8px;
    font-size: 0;
}

.service__img {
    width: 100%;
    height: 100%;
}

.service__content {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    padding: 60px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.service__title {
    font-family: "Merriweather", serif;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #ffffff;
}

.service__text {
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;

}

.service__button {
    margin-top: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s linear;
    outline: none;
}

.service__button:hover {
    opacity: 0.7;
}

.service__button--know-more {
    position: relative;

    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
}

.service__button--know-more::after {
    content: "";
    position: absolute;
    right: -40px;
    bottom: 2px;
    width: 21px;
    height: 15px;
    background: url("../img/icon-arrow.png") no-repeat;
}


/*Service Content More*/
.service__content--more {
    display: none;
    background-color: #71f5ea;
}

.service__content--more.show {
    display: flex;
}

.service__title--more {
    width: 100%;
    text-align: center;
    color: #000000;
}

.service__text--more {
    text-align: center;
    color: #000000;
    overflow-y: auto;
}

.service__button--close {
    width: 16px;
    height: 16px;
}


/*Team
====================================*/
.team__item {
    position: relative;

    padding: 8px;
    font-size: 0;
}

.team__item:hover .team__item-content {
    opacity: 1;
}


.team__img {
    width: 100%;
    height: auto;
}

.team__item-content {
    position: absolute;
    bottom: 22px;
    left: 22px;
    right: 22px;

    padding: 34px;

    background-color: #70f6eb;
    box-shadow: 3px 6px 16px 0 rgba(20, 20, 21, 0.18);
    transition: 0.3s linear;
    opacity: 0;
}

.team__item-content::before {
    position: absolute;
    content: "";
    left: 21px;
    top: -38px;
    width: 22px;
    height: 38px;
    border-top: 19px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #71f6ec;
}

.team__item-name {
    font-family: Merriweather, sans-serif;
    font-size: 20px;
    font-weight: 700;

    text-transform: uppercase;
}

.team__item-position {
    font-family: Merriweather, sans-serif;
    font-size: 15px;
    font-style: italic;

    color: #767070;
}

.team__item-text {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 16px;

    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
}

.team__item-position {
    white-space: nowrap;
}

/*Testimonials*/
.testimonials__img-author {
    position: relative;
    width: 390px;
    background-color: #ecedef;
}

.testimonials__author-img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 82%;

    box-shadow: 2px 6px 24px 0 rgba(20, 20, 21, 0.17);
    font-size: 0;
}

.testimonials__img {
    width: 100%;
    height: 100%;
}

.testimonials__content {
    width: 59%;
    padding: 70px 80px;
    background-color: #ecedef;
}

.testimonials__author {
    font-family: Merriweather, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


.testimonials__author--position {
    font-family: Merriweather, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    color: #767070;
}

.testimonials__text {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.testimonials__stars {
    display: flex;
}

.testimonials .slick-slide {
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: visible;
}

/*Logotypes*/
.logotype__item {
    text-align: center;
}

.logotype__link {
    display: inline-block;
    opacity: 0.4;
    transition: opacity 0.3s linear;
}

.logotype__link:hover {
    opacity: 1;
}

/*Contacts*/
.contacts {
    background-image: url(../img/bg-form.jpg);
    background-position: center center;
    background-size: cover;
}

.address__wrapper {
    width: 54%;
    padding: 20px;
    background-color: rgba(69, 86, 97, 0.71);
}

.address__text--web {
    margin-top: 30px;
}

.address__text,
.address__link {
    font-size: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
}

.address__link:hover {
    color: rgba(255, 255, 255, 1);
}

.map__wrapper {
    height: 225px;
    margin-top: 20px;
}

/*Form*/
.form {
    width: 44%;
    max-width: 615px;
    padding: 30px 30px 40px;
    background-color: rgba(69, 86, 97, 0.71);
}

.input,
textarea {
    width: 100%;
    padding: 0 0 0 4px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.input,
input::placeholder,
textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 3;
    color: rgba(255, 255, 255, 0.8);
}

textarea {
    min-height: 100px;
    margin-top: 10px;

    line-height: 1.3;
}


.input, textarea {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.form__button {
    margin-top: 20px;
    padding: 12px 36px;
    border: none;
    font-family: 'Montserrat', serif;
    font-size: 18px;

    text-transform: uppercase;
    color: #000000;
    background-color: #6eeee4;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.form__button:hover {
    background-color: #19decf;
}


/*Footer*/
footer {
    padding: 70px 0;
    background-color: #262b2e;
}

.social__title {
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.footer__social-icon {
    fill: #bbb8b9;
}

.social__link {
    width: 46px;
    height: 40px;
    margin: 4px;
    background-color: #424648;
}

.social__link:hover {
    background-color: #6eeee4;
}

.social__link:hover .footer__social-icon {
    fill: #170f1c;
}

.footer__copyright {
    padding-top: 35px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}


/*Social__List*/
.social__item {
    margin: 0 7px;
}

.social__icon:hover {
    fill: #7d7981;
}


/*=====================================================*/
@media (max-width: 1199px) {
    /*section*/
    .section {
        padding: 100px 0;
    }

    .section__title {
        font-size: 36px;
    }

    .section__subtitle {
        padding: 10px 0 100px;
        font-size: 16px;
    }

    /*about us*/
    .about-us__title {
        padding-top: 15px;
        font-size: 19px;
    }

    .about-us__text {
        font-size: 17px;
    }

    /*our services*/
    .service__content {
        padding: 30px;
    }

    .service__title {
        font-size: 18px;
    }

    .service__text {
        padding-top: 10px;
        line-height: 1.4;
    }

    .service__button--know-more {
        font-size: 15px;
    }

    .service__button--know-more::after {
        right: -30px;
        bottom: 0;
        width: 21px;
    }

    .service__button--close-icon {
        width: 15px;
        height: 15px;
    }

    /*team*/
    .team__item-content {
        padding: 20px;
    }

    .team__item-name {
        font-size: 18px;
    }

    .team__item-position {
        font-size: 13px;
    }

    /*testimonials*/
    .testimonials__content {
        padding: 50px 45px;
    }

}


@media (max-width: 991px) {
    /*section*/
    .section {
        padding: 80px 0;
    }

    .section__title {
        font-size: 32px;
    }

    .section__subtitle {
        font-size: 15px;
        padding-bottom: 60px;
    }

    /*header*/
    .header {
        padding-top: 45px;
    }

    /*nav*/
    .nav__inner {
        max-width: 720px;
    }

    /*intro*/
    .intro__title {
        font-size: 38px;
    }

    .intro__button {
        padding: 12px 40px;
    }

    /*about us*/
    .about-us__title {
        padding-top: 15px;
        font-size: 18px;
    }

    .about-us__text {
        margin-top: 15px;
        font-size: 16px;
    }

    /*about-us slider*/
    .slick-dots {
        padding: 35px 0 0;
    }

    /*features*/
    .features__item {
        padding: 5px;
    }

    /*our services*/
    .service__item {
        padding: 5px;
    }

    .service__content {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding: 25px 25px 20px 25px;
    }

    .service__title {
        font-size: 16px;
    }

    .service__text {
        padding-top: 5px;
        font-size: 15px;
        line-height: 1.3;
    }

    /*logotypes*/
    .logotype__item {
        margin: 0 0 20px 0;
    }

    /*.contacts*/
    /*form*/
    .form, .address__wrapper {
        max-width: 100%;
        width: 100%;
    }

    .form {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    /*section*/
    .section {
        padding: 50px 0;
    }

    .section__title {
        font-size: 24px;
    }

    .section__subtitle {
        font-size: 12px;
        padding-bottom: 40px;
    }

    /*header*/
    .header {
        padding-top: 35px;
    }

    .nav__inner {
        max-width: 540px;
    }

    .nav__link {
        font-size: 15px;
        font-weight: 400;
    }

    /*intro*/
    .intro__title {
        font-size: 32px;
    }

    .intro__button {
        font-size: 16px;
    }

    /*about us*/
    .about-us__title {
        font-size: 17px;
    }

    .about-us__text {
        margin-top: 10px;
        font-size: 15px;
    }

    /*about-us slider*/
    .slick-dots {
        padding: 30px 0 0;
    }

    /*our services*/
    .service__content {
        padding: 35px;
    }

    .service__text {
        padding-top: 10px;
        line-height: 1.4;
    }

    /*!*team*!*/
    .team__item-name {
        font-size: 15px;
    }

    .team__item-position {
        font-size: 12px;
    }

    .team__item-text {
        font-size: 14px;
    }

    .team__item-content::before {
        display: none;
    }

    /*testimonials*/
    .testimonials__img-author {
        width: 100%;
        background-color: transparent;
    }

    .testimonials__author-img-wrapper {
        position: static;
        top: 0;
        left: 0;

        width: auto;
        margin: 0 auto;

        transform: translate3d(0, 0, 0);
        box-shadow: none;
        font-size: 0;
        text-align: center;
    }

    .testimonials__img {
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .testimonials__content {
        width: 100%;
        margin-top: -30px;
        padding: 50px 10px 20px;
    }

    .testimonials .slick-slide {
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: visible;
    }

    /*contacts*/
    .form, .address__wrapper {
        padding: 20px 15px;
    }

    .form__button {
        width: 100%;
        text-align: center;
    }

}


@media (max-width: 576px) {
    /*section*/
    .section {
        padding: 40px 0;
    }

    .section__subtitle {
        padding-bottom: 30px;
    }

    /*header*/
    .header {
        padding-top: 25px;
    }

    /*nav*/
    .nav__link {
        text-align: right;
    }

    /*intro*/
    .intro__title {
        font-size: 24px;
    }

    .intro__button {
        min-width: 180px;
        padding: 12px 30px;
        font-size: 15px;
    }

    /*about us*/
    .about-us__title {
        font-size: 16px;
    }

    .about-us__text {
        margin-top: 0;
        font-size: 14px;
    }

    /*about-us slider*/
    .slick-dots {
        padding: 20px 0 0;
    }

    /*our services*/
    .service__item {
        min-height: 260px;
    }

    .service__content {
        padding: 30px 20px;
    }

    .service__title {
        font-size: 13px;
    }

    .service__text {
        padding-top: 0;
        font-size: 14px;
        line-height: 1.2;
    }

    .service__button--know-more {
        font-size: 14px;
    }

    .service__button--close {
        width: 12px;
        height: 12px;
    }

    .service__button--close-icon {
        width: 12px;
        height: 12px;
    }

    /*team*/
    .team__item-content::before {
        display: block;
    }

    /*testimonials*/
    .testimonials__author {
        font-size: 15px;
    }

    .testimonials__author--position {
        font-size: 15px;
    }

    .testimonials__text {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /*logotypes*/
    .logotype__item {
        margin-bottom: 35px;
    }

    .logotype__item:last-child {
        margin-bottom: 0;
    }

    /*footer*/
    footer {
        padding: 40px 0;
        background-color: #262b2e;
    }

    .footer__copyright {
        font-size: 12px;
    }


}
